.navbar {
    background-color:  #ddd;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    /* Use Flexbox for layout */
    justify-content: space-between;
    /* Space out the two columns */
    /* Optional padding */
    box-sizing: border-box;
    /* Ensures padding is included in the element's total width */
}

/* Style the links inside the navigation bar */
.navbar .menu-item {
    flex: 1;
    float: center;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar .menu-item:hover {
    background-color: var(--green);
    color: white;
}

/* Add a color to the active/current link */
.navbar .menu-item.active {
    background-color: var(--green);
    color: white;
}