.container-drug-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #ddd;  */
    border-radius: 4px;
    height: 80px;
    padding: 8px 16px; /* Combine padding properties for simplicity */
    padding-right: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 6px;
}

.card-item-child {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 16px;
}

.card-item-child h4 {
    min-width: 140px;
}

.card-container-img {
    min-width: 60px;
    height: 60px;
    border-radius: 2px; 
    overflow: hidden;
}

.card-container-img .img-item {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.search-bar {
    margin: 20px auto;
    text-align: center;
}

.search-bar input {
    width: 70%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Prompt', sans-serif; /* Change this to your desired font */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}


.search-bar input:focus {
    border-color: rgba(8, 147, 70, 1);
    outline: none;
    box-shadow: 0 2px 6px rgba(8, 147, 70, 0.2);
}

.icon-eye {
    font-size: 32px;
    font-weight: 500px;
    color: var(--green);
}

@media (max-width: 480px) {
   
  
  }